body {
    margin: .5%;
    background-color: #313131;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 500%;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

h2, p {
    margin: .01%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 120%;
}

