body {
  margin: 1vw;
  background-color: #313131;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 500%;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2%;
  margin-bottom: 2%;
}

header {
  display: flex;
}

.hello {
  display: flex;
}

.hello h1 {
  margin-right: 0%;
  border-right: .05em solid #00ff00;
  animation: 1s blink-caret step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}

.github_link {
  margin-left: auto;
  margin-right: 0%;
  color: #ffffff;
  text-decoration: none;
}

h3 {
  color: #ffffff;
  font-size: 24px;
  padding: 0%;
  margin: 0%;
}

h2, p {
  margin: .1%;
}

h2 {
  font-size: 200%;
}

p {
  font-size: 120%;
}

a {
  color: #ffffff;
}

a :visited svg{
  color: #ffffff;
}

a :hover {
  color: #00ff00;
}