dt {
  font-weight: bold;
  font-size: 24px;
  margin: .5%;
}

dd {
  font-size: 18px;
  padding: .1%;
}

.sublist dt{
  font-size: 20px;
  font-weight: normal;
}

.sublist dd{
  font-weight: normal;
  font-size: 18px;
}

dd a :hover {
  color: #ff6600;
}

sup {
  font-size: 12px;
}