body {
  margin: 1vw;
  background: #cacaca;
  font-family: 'Arial', sans-serif;
  color: #000000;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 6vw;
  color: #ff6600;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2%;
  margin-bottom: 2%;
}

header {
  display: flex;
}

.hello {
  display: flex;
}

.hello h1 {
  margin-right: 0%;
  border-right: .05em solid #ff6600;
  animation: 1s blink-caret step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ff6600; }
}

.header_links {
  margin-left: auto;
  margin-right: 0%;
  text-decoration: none;
}

h3 {
  font-size: 24px;
  padding: 0%;
  margin: 0%;
}

h4 {
  font-size: 125%;
  padding: 0;
  margin: 0;
}

p {
  font-size: 120%;
  padding-top: .1%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #000000;
}

a :hover {
  color: #ff6600;
}

h2 {
  font-size: 200%;
  text-align: center;
}

.dark-mode {
  margin: 1vw;
  background: #1f1e28;
  font-family: 'Arial', sans-serif;
  color: #cacaca;
}

.dark-mode a {
  color: #cacaca;
}

button {
  background-color: #cacaca;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dark-mode button {
  background-color: #1f1e28;
}

footer {
  background-color: inherit;
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  text-align: center;
}

.projects {
  margin-top: 1%;
}